<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-title>
            Trafmap
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <div id="bacpic">
                    <h3 style="text-align: center">
                        Welcome to Ghana's traffic monitoring page

                    </h3>
                    <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>